@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 83% 5%;
    --foreground: 220 13% 91%;
    --card: 220 44% 11%;
    --card-foreground: 220 13% 91%;
    --popover: 220 83% 5%;
    --popover-foreground: 220 13% 91%;
    --primary: 194 100% 50%;
    --primary-foreground: 212 65% 11%;
    --secondary: 212 28% 16%;
    --secondary-foreground: 220 13% 91%;
    --muted: 212 28% 16%;
    --muted-foreground: 220 13% 65%;
    --accent: 212 28% 16%;
    --accent-foreground: 220 13% 91%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 212 28% 16%;
    --input: 212 28% 16%;
    --ring: 194 100% 50%;
    --chart-1: 194 100% 50%;
    --chart-2: 212 65% 11%;
    --radius: 0.5rem;

    /* Custom Sidebar vars */
    --sidebar-background: 212 65% 11%;
    --sidebar-foreground: 220 13% 81%;
    --sidebar-primary: 194 100% 50%;
    --sidebar-primary-foreground: 212 65% 11%;
    --sidebar-accent: 220 44% 11%;
    --sidebar-accent-foreground: 220 13% 91%;
    --sidebar-border: 212 28% 16%;
    --sidebar-ring: 194 100% 50%;
  }

  .light-theme {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 194 100% 50%;
    --primary-foreground: 212 65% 11%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 194 100% 50%;
    --chart-1: 194 100% 50%;
    --chart-2: 212 65% 11%;

    /* Custom Sidebar vars */
    --sidebar-background: 210 40% 98%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 194 100% 50%;
    --sidebar-primary-foreground: 212 65% 11%;
    --sidebar-accent: 210 40% 90%;
    --sidebar-accent-foreground: 222.2 84% 4.9%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 194 100% 50%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
