@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 83% 5%;
    --foreground: 220 13% 91%;
    --card: 220 44% 11%;
    --card-foreground: 220 13% 91%;
    --popover: 220 83% 5%;
    --popover-foreground: 220 13% 91%;
    --primary: 194 100% 50%;
    --primary-foreground: 212 65% 11%;
    --secondary: 212 28% 16%;
    --secondary-foreground: 220 13% 91%;
    --muted: 212 28% 16%;
    --muted-foreground: 220 13% 65%;
    --accent: 212 28% 16%;
    --accent-foreground: 220 13% 91%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 212 28% 16%;
    --input: 212 28% 16%;
    --ring: 194 100% 50%;
    --chart-1: 194 100% 50%;
    --chart-2: 212 65% 11%;
    --radius: 0.5rem;

    /* Custom Sidebar vars */
    --sidebar-background: 212 65% 11%;
    --sidebar-foreground: 220 13% 81%;
    --sidebar-primary: 194 100% 50%;
    --sidebar-primary-foreground: 212 65% 11%;
    --sidebar-accent: 220 44% 11%;
    --sidebar-accent-foreground: 220 13% 91%;
    --sidebar-border: 212 28% 16%;
    --sidebar-ring: 194 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
